main{
    padding: 20px;
    overflow: auto;
}
 nav{
    width: 100%;
    background-color: transparent;
    overflow: auto;
 }
 nav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text text-decoration: none;
    font-size: 17px;
    font-weight:bold;

 }
 nav li {
    display: inline;
    list-style-type: none;
    margin-left: 25px;

 }
 